.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #profile-pic {
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  }